.learn-acca-container{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.each-learn-acc-item{
    border-radius: 10px;
    background-color: aliceblue;
    padding-top: 2px;
    margin: 10px;
    gap: 3px;
    width: 30%;
    height: 71vh;
    display: flex;
    flex-direction: column;
   
}

.learn-acc-heading-container{
    background-color: rgb(50, 17, 122);
    padding: 10px;
    text-align: center;

}
.learn-acc-heading{
    font-weight: 600;
   
    font-size: 20px;
    color: rgb(255, 255, 255);
    

}
.unordered-learn-acca{
    padding: 20px;
    gap: 3px;
    flex-grow: 1;
}

.each-learn-list-item{
    margin: 0px;
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
    
}

@media (max-width:768px){
    .learn-acca-container{
        flex-direction: column;
    }
    .each-learn-acc-item{
        width: 100%;
        margin-top: 10px;
    }
    .learn-acc-heading{
        font-size: 15px;
    }
}