.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: aliceblue;
    padding: 20px;
}
.banner-text-container{
    width: 60%;
}
.banner-heading{
    font-family: "Nunito Sans";
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.banner-para{
    color: #000;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-weight: 500;
}
.banner-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.download-brochure{
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: rgb(50, 17, 122);
    border-radius: 8px;
    border: none;
    font-family: "Nunito Sans";
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    width: 180px;
}

.learning-button{
    background-color:#ed1c24;
    margin-left: 20px;
}
.banner-form-container{
    background: rgb(255, 255, 255);
    border-radius: 12px;
    width:40%;
    max-width: 450px;
    padding: 30px 25px;
    border-top: 2px solid rgb(50, 17, 122);
       
}
.form-heading{
    color: rgb(50, 17, 122);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.request-button{
    background-color: rgb(50, 17, 122);
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    font-weight: 400px;
    
}

.unordered-banner-items{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0px;
    flex-wrap: nowrap;
    
}
.each-banner-item{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    
    margin: 10px;
    display: flex;
    justify-content: space-around;
    width:40%;
   
}
.each-banner-image{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.unordered-banner-text-container{
    margin-left: 3px;
}

.each-banner-text{
    color:#000;
    margin: 0px;
    font-family: "Nunito Sans";
    font-weight: 500;
    font-size: 15px;
    
    line-height: 1.5;

}

.count{
    color:#000;
    font-weight: bold;
    font-size: 15px;
    font-family: "Nunito Sans";
}

@media (max-width:768px){
    .banner-container{
        display: flex;
        flex-direction: column;
    }
    .banner-text-container{
        width: 100%;
        margin-bottom: 20px;
    }
    .banner-heading{
        font-size: 20px;
    }
    .banner-para{
        font-size: 15px;
    }
    .banner-form-container{
        width: 100%;
    }
    .banner-buttons{
        flex-direction: column;
    }
    .learning-button{
        margin-left: 0px;
        margin-top: 10px;
    }
    .each-banner-text{
        
        font-size: 11px;
        
    .unordered-banner-items{
        flex-wrap: wrap;
    }
    
    }
    
    .count{
       
        font-size: 11px;
       
    }
    
}